<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>nodebucket</button>

        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" mat-button>About</button>
        <button class="navbar-link" mat-button routerLink='signup'>Sign-up</button>
      </div>

    </mat-toolbar>
  </nav>

  <mat-card>
    <!-- <div class="container">
      <h1>Sign up</h1>
      <form action="/signup" method="POST" >
        <div class="form-group">
          <mat-label >Employee ID</mat-label>
          <input type="text" matInput class="form-control" id="employeeID" name="employeeID"/>
          <br>
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName"/>
          <br>
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName"/>
          <br>
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" name="password"/>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>

      </form>
  </div> -->
<h2>Sign-up</h2>
<form class="example-form">
<mat-form-field class="example-full-width">
<mat-label> Employee ID </mat-label>
<input matInput placeholder="Employee Id" value="">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <mat-label> First Name </mat-label>
  <input matInput placeholder="first name" value="">
  </mat-form-field>
  <br>
<mat-form-field class="example-full-width">
  <mat-label> Last Name </mat-label>
  <input matInput placeholder="last name" value="">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button mat-raised-button>Submit</button>
</form>

</mat-card>



  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>


