<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait unitl the last minute to begin working on each item.
    </span>
  </h1>

  <mat-card>
    <div class="container">
      <h1>Sign up</h1>
      <form action="/signup" method="POST" >
        <div class="form-group">
          <label for="emplooyeeID">Employee ID</label>
          <input type="text" class="form-control" id="employeeID" name="employeeID"/>
          <br>
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName"/>
          <br>
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName"/>
          <br>
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" name="password"/>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>

      </form>
  </div>



  </mat-card>




</div>
